body {
  width: 70%;
  margin: auto;
}
h1 {
  font-family: monospace;
  text-align: center;
  font-size: 47px;
  font-weight: bold;
}

li {
  font-size: medium;
  list-style: none;
  background-color: #ececec;
  padding: 15px;
  margin-bottom: 15px;
}

.info {
  border-left: 3px solid #28a745;
}

.errors {
  border-left: 3px solid #dc3545;
}

.results-btn--copy {
  color: white;
  background-color: #28a745;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.results-code {
  display: block;
  border: 1px solid #ececec;
}

.hidden {
  display: none;
}
